

<h1>Welcome HOME :)</h1>

<% time = Time.now.strftime('%A, %b %d') %>
<p>Today is <strong><%= time %></strong></p>

<h3>Search for members of the team</h3>
<form action="/contact" method="get">
  <input type="text" name="member" placeholder="Who are you looking for?">
  <input type="submit">
</form>


<!-- er + tab -->
<%  %>


<!-- pe + tab -->
<%=  %>
